extends ../layout
block style
    link(rel='stylesheet', href='/css/profile.css')

block script
    script(src='/js/edit.js')

block body
    section.profile
        h2.profile-dashboard <strong>#{user.name}</strong>'s Profile
        nav.profile-settings
            ul
                li.settings-dashboard
                    a.icon(href="/me", title="Back to dashboard")

    section.auth
        h3.auth-title Edit profile
        form.auth-form(method="post", action="/me", enctype="multipart/form-data", novalidate)
            input(type="hidden", name="_method", value="put")

            label(for="name") Name
            input(type="text", name="user[name]", id="name", tabindex="1", value="#{user.name}")

            label(for="email") Email
            input(type="email", name="user[email]", id="email", tabindex="2", value="#{user.email}")

            input(type="submit", value="Update profile", tabindex="3")


    section.auth
        h3.auth-title Change password
        form.auth-form(method="post", action="/me/change_password", enctype="multipart/form-data", novalidate)
            input(type="hidden", name="_method", value="put")

            label(for="password") Old password
            input(type="password", name="user[password]", id="password", tabindex="4")

            label(for="new_password") New password
            input(type="password", name="user[new_password]", id="new_password", tabindex="5")

            label(for="confirm_new_password") Confirm new password
            input(type="password", name="user[confirm_new_password]", id="confirm_new_password", tabindex="6")

            input(type="submit", value="Change password", tabindex="7")

    section.auth.last
        h3.auth-title Delete account
        form.auth-form(method="post", action="/me", enctype="multipart/form-data", novalidate)
            input(type="hidden", name="_method", value="delete")

            label(for="delete_account_email") Email
            input(type="text", name="user[email]", id="delete_account_email", tabindex="8")

            label(for="delete_account_password") Password
            input(type="password", name="user[password]", id="delete_account_password", tabindex="9")

            input.delete(type="submit", value="Delete account", tabindex="10")
