extends ../layout
block style
    link(rel='stylesheet', href='/css/dashboard.css')

block script
    script(src='/js/dashboard.js')

block body
    section(style="padding-top: 80px")
        h1 Dashboard
        p= user.name
        ul
            li
                a(href="/me/edit") Edit profile
            li
                a(data-create="document") New document
            li
                a(href="/exit") Logout

        ul
            each document in documents
              li
                a(href='/' + document.hash)= document.hash
