extends ../layout
block style
    link(rel='stylesheet', href='/css/recovery.css')

block script
    script(src='/js/recovery.js')

block body
    section.auth
        if (user)
            p= user.name
            p= user.email

            form.auth-form(method="post", action="/user/remember", enctype="multipart/form-data", novalidate)
                input(type="hidden", name="_method", value="put")
                input(type="hidden", name="email", value="#{user.email}")

                label(for="password") New password
                input(type="password", name="user[password]", id="password", tabindex="1", autofocus="autofocus")

                input(type="submit", value="Update", title="Update", tabindex="2")
        else
            each error in errors
                p #{error.message}

            a(href="/") Return
