doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= pageTitle

        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(name="author", content="Thiago Poiani - thpoiani@gmail.com")
        meta(name="robots", content="index, follow")

        meta(property="og:title", content="folhas")
        meta(property="og:description", content="")
        meta(property="og:url", content="")
        meta(property="og:type", content="website")
        meta(property="og:image", content="")
        meta(property="og:site_name", content="folhas")

        link(rel="apple-touch-icon-precomposed", sizes="152x152", href="")
        link(rel="apple-touch-icon-precomposed", sizes="144x144", href="")
        link(rel="apple-touch-icon-precomposed", sizes="120x120", href="")
        link(rel="apple-touch-icon-precomposed", sizes="114x114", href="")
        link(rel="apple-touch-icon-precomposed", sizes="72x72", href="")
        link(rel="apple-touch-icon-precomposed", href="")
        link(rel="icon", sizes="16x16 32x32", href="")
        link(rel="icon", sizes="32x32", href="")
        link(rel="shortcut icon", href="")

        link(rel="canonical", href="")
    body
        include _partial/header
        block body
        include _partial/footer
