.header-social {
  @include omega();
  @include padding(6px 0 0 0);
  @extend %height-full;
  @extend %text-align-center;
  float: left;
  width: 148px;

  ul {
    font-size: 0;
  }

  li {
    @include margin(0 0 0 -5px);
    @extend %display-inline-block;
  }

  a {
    @include transition(all 300ms);
    @extend %display-block;
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }

  .header-social-facebook {
    a {
      background: url("/images/social/facebook.png") no-repeat;

      &:hover {
        background: #3B5998 url("/images/social/facebook-hover.png") no-repeat;
      }
    }
  }

  .header-social-googleplus {
    a {
      background: url("/images/social/googleplus.png") no-repeat;

      &:hover {
        background: #D14836 url("/images/social/googleplus-hover.png") no-repeat;
      }
    }
  }

  .header-social-twitter {
    a {
      background: url("/images/social/twitter.png") no-repeat;

      &:hover {
        background: #00ACED url("/images/social/twitter-hover.png") no-repeat;
      }
    }
  }

  @include media($tablet) {
    float: right;
  }

  @include media($mobile) {
    display: none;
  }
}
