// dark green
$color-28441B: #28441B;
%color-#28441B {
  color: #28441B;
}

// green
$color-557C16: #557C16;
%color-#557C16 {
  color: #557C16;
}

// yellow
$color-F7C451: #F7C451;
%color-#F7C451 {
  color: #F7C451;
}

// orange
$color-FA8D37: #FA8D37;
%color-#FA8D37 {
  color: #FA8D37;
}

// red
$color-E73F38: #E73F38;
%color-#E73F38 {
  color: #E73F38;
}
