%input {
  @include border-top-radius(0);
  @include border-bottom-radius(0);
  @include border-left-radius(0);
  @include border-right-radius(0);
  @include appearance(none);
  @include transition(all 300ms);
  @extend %display-inline-block;
  @extend %vertical-align-top;
  font-size: rem(14);
  padding: rem(7);
  height: rem(32);

  &:hover, &:focus {
    border-color: $color-557C16;
  }
}

%submit {
  @include transition(all 300ms);
  @extend %vertical-align-top;
  color: white;
  cursor: pointer;
  font-weight: normal;
  outline: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  letter-spacing: rem(2px);

  &:active, &:focus, &:hover {
    border: none;
    letter-spacing: rem(-2px);
  }
}
