.information {
  @extend %text-align-center;
  @extend %Quicksand-Regular;
  font-size: rem(18);

  img {
    @include margin(0 auto);
    @extend %display-block;
    border-radius: 3px;
    box-shadow: 0px 0px 6px -2px #666
  }
}

.information-author {
  @include margin(0 auto);
  @extend %position-relative;
  height: rem(144);
  width: rem(207);

  img, p, figure, figcaption {
    display: initial;
  }

  img {
    @include margin(0 auto);
    @extend %display-block;
    border-radius: 3px;
    box-shadow: 0px 0px 6px -2px #666
  }

  figcaption {
    @include position(absolute, null null 0 0);
  }

  .author-name {
    color: white;
    border-bottom: 1px solid white;

    &:hover {
      color: white;
    }
  }

}

.information-project a {
  color: white;

  &:hover {
    text-decoration: underline;
  }
}
