extends ../layout
block style
    link(rel='stylesheet', href='/css/enter.css')

block script
    script(src='/js/user.js')
    script(src='/js/enter.js')

block body
    section.auth
        form.auth-form(method="post", enctype="multipart/form-data", novalidate)

            label(for="email") Email
            input(type="email", name="user[email]", id="email", tabindex="1", autofocus="autofocus")

            label(for="password") Password
            input(type="password", name="user[password]", id="password", tabindex="2")

            input(type="submit", value="Enter", tabindex="4")

            a(rel="nofollow", href="/remember", tabindex="5") Forgot your password?
