header
    .header
        .header-logo
            h1
                a(href="/", title="folhas" itemprop="name") folhas
        .header-social
            ul
                li.header-social-facebook
                    a(href="#", target="_blank", title="Facebook")
                li.header-social-googleplus
                    a(href="#", target="_blank", title="Google Plus")
                li.header-social-twitter
                    a(href="#", target="_blank", title="Twitter")

        div.header-navigation.close
          a.header-navigation-menu(title="Open")
          nav.header-menu
            .menu