header
    .header
        .header-logo
            h1
                a(href="/", title="folhas" itemprop="name") folhas
        .header-social
            ul
                li.header-social-facebook
                    a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffolhas-thpoiani.rhcloud.com", target="_blank", title="Facebook")
                li.header-social-googleplus
                    a(href="https://plus.google.com/share?url=http://folhas-thpoiani.rhcloud.com", target="_blank", title="Google Plus")
                li.header-social-twitter
                    a(href="https://twitter.com/intent/tweet?url=http%3A%2F%2Ffolhas-thpoiani.rhcloud.com", target="_blank", title="Twitter")

        div.header-navigation.close
          a.header-navigation-menu(title="Open")
          nav.header-menu
            .menu