.modal#social
  .modal-window
      .modal-inner.social
          a.modal-close(href="#", title="Close")

          p.modal-title Share
          p.modal-text

          ul
              li.modal-social-facebook
                  a(data-href="https://www.facebook.com/sharer/sharer.php?u=", target="_blank", title="Facebook")
              li.modal-social-googleplus
                  a(data-href="https://plus.google.com/share?url=", target="_blank", title="Google Plus")
              li.modal-social-twitter
                  a(data-href="https://twitter.com/intent/tweet?url=", target="_blank", title="Twitter")

          input(type="text", id="share", readonly)
          .modal-footer
            a(href="#", title="Close").cancel-button.button CLOSE