.modal
  .modal-window
      .modal-inner
          a.modal-close(href="#", title="Close")
          p.modal-title
          p.modal-text
          .modal-footer
              a(href="#", title="Cancel").cancel-button.button CANCEL
              a(href="#", title="Submit").submit-button.button SUBMIT