extends ../layout
block style
    link(rel='stylesheet', href='/css/index.css')

block script
    script(src='/bower_components/ace-builds/src-min-noconflict/ace.js')
    script(src='/js/home.js')

block body
    .banner
        .banner-content
            img(src="/images/folhas.png", width="245", height="200", alt="folhas", title="folhas", itemprop="image")
            p(itemprop="about") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vulputate turpis ut varius aliquet.

    .authentication
        .authentication-enter
            a(href="/enter", title="Enter").enter-button.button ENTER
        .authentication-join
            a(href="/join", title="Join").join-button.button JOIN

    .technologies
        .technologies-ifsp(itemprop="mentions" itemscope itemtype="http://schema.org/Organization")
            img(src="/images/ifsp.png", width="150", height="86", alt="Instituto Federal de Educação, Ciência e Tecnologia de São Paulo", title="Instituto Federal de Educação, Ciência e Tecnologia de São Paulo", itemprop="logo")
            p.description(itemprop="description") <strong itemprop="name">Instituto Federal de Educação, Ciência e Tecnologia de São Paulo, campus São Carlos</strong>.
        .technologies-reactive-writing(itemprop="mentions")
            h2.title Reactive Writing
            p.description <strong>Reactive writing</strong> occurs when team members collaborate synchronously to develop their product. Team members react to and adjust each other's contributions as they are made.
        .technologies-nodejs(itemprop="mentions" itemscope itemtype="http://schema.org/Organization")
            img(src="/images/nodejs.png", width="150", height="41", alt="node.js", title="node.js", itemprop="logo")
            p.description(itemprop="description") <strong itemprop="name">Node.js</strong> is a platform built on <a href="https://code.google.com/p/v8/" target="_blank" title="V8 JavaScript Engine">Chrome's JavaScript runtime</a> for easily building fast, scalable network applications.
        .technologies-websockets(itemprop="mentions" itemscope itemtype="http://schema.org/Organization")
            img(src="/images/socketio.png", width="150", height="39", alt="socket.io", title="socket.io", itemprop="logo")
            p.description(itemprop="description") <strong itemprop="name">Socket.IO</strong> aims to make realtime apps possible in every browser and mobile device, blurring the differences between the different transport mechanisms.

    section.document
        article.document-editor
            #editor.ace

//
    h1 Folhas
    ul
        li
            a(href="/", target="_blank") Home
        li
            a(href="/enter", target="_blank") Enter
        li
            a(href="/remember", target="_blank") Remember
        li
            a(href="/join", target="_blank") Join
        li
            a(href="/me", target="_blank") Me
        li
            a(data-create="document") Create document
