extends ../layout
block script
    script(src='/js/home.js')

block body
    img(src="/images/trianglify.png")

    h1 Folhas
    ul
        li
            a(href="/", target="_blank") Home
        li
            a(href="/enter", target="_blank") Enter
        li
            a(href="/remember", target="_blank") Remember
        li
            a(href="/join", target="_blank") Join
        li
            a(href="/me", target="_blank") Me
        li
            a(data-create="document") Create document
