button,
input[type="submit"] {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em; }
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #628cc8;
    cursor: pointer;
    background-color: #3c71bb;
    background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
    background-image: linear-gradient(#3c71bb, #255aa5); }
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled), button:focus:not(:disabled),
  input[type="submit"]:focus:not(:disabled) {
    border: 1px solid #2459a6;
    box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397; }
  button:disabled,
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "Quicksand-Light";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Quicksand/quicksand-light.eot");
  src: url("/fonts/Quicksand/quicksand-light.eot?#iefix") format("embedded-opentype"), url("/fonts/Quicksand/quicksand-light.woff") format("woff"), url("/fonts/Quicksand/quicksand-light.ttf") format("truetype"), url("/fonts/Quicksand/quicksand-light.svg#Quicksand-Light") format("svg"); }
@font-face {
  font-family: "Quicksand-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Quicksand/quicksand-regular.eot");
  src: url("/fonts/Quicksand/quicksand-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Quicksand/quicksand-regular.woff") format("woff"), url("/fonts/Quicksand/quicksand-regular.ttf") format("truetype"), url("/fonts/Quicksand/quicksand-regular.svg#Quicksand-Regular") format("svg"); }
@font-face {
  font-family: "Quicksand-Bold";
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/Quicksand/quicksand-bold.eot");
  src: url("/fonts/Quicksand/quicksand-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Quicksand/quicksand-bold.woff") format("woff"), url("/fonts/Quicksand/quicksand-bold.ttf") format("truetype"), url("/fonts/Quicksand/quicksand-bold.svg#Quicksand-Bold") format("svg"); }
@font-face {
  font-family: "Ionicons";
  font-weight: normal;
  font-style: normal;
  src: url("/bower_components/ionicons/fonts/ionicons.eot");
  src: url("/bower_components/ionicons/fonts/ionicons.eot?#iefix") format("embedded-opentype"), url("/bower_components/ionicons/fonts/ionicons.woff") format("woff"), url("/bower_components/ionicons/fonts/ionicons.ttf") format("truetype"), url("/bower_components/ionicons/fonts/ionicons.svg#Ionicons") format("svg"); }
*,
*:before,
*:after {
  margin: 0;
  padding: 0; }

.header-logo h1 {
  text-align: left; }

.modal-footer .button, .header-navigation, .header-social, .document-share, .document-remove, .information {
  text-align: center; }

.modal-footer, .profile-settings, .document-edit {
  text-align: right; }

.modal-footer .button, .header-logo h1 {
  vertical-align: top; }

.header-navigation {
  float: right; }

.header-navigation.close .header-navigation-menu, .header-logo a, .profile-dashboard, .profile-settings .icon {
  color: #28441B; }

.header-navigation.close .header-navigation-menu:hover, .header-navigation.open .header-navigation-menu, .header-logo a:hover, .profile-settings .icon:hover {
  color: #FA8D37; }

.header-navigation.open .header-navigation-menu:hover {
  color: #E73F38; }

.header-logo, .header-social {
  height: 100%; }

.header-social a, .information img, .information-author img {
  display: block; }

.modal-footer .button, .header-social li, .profile-settings .settings-dashboard,
.profile-settings .settings-create,
.profile-settings .settings-update,
.profile-settings .settings-logout {
  display: inline-block; }

.modal-footer, .modal-text, .header-logo h1, .profile h2, .profile-dashboard, .documents h2 {
  font-family: "Quicksand-Light", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

.modal-title, .profile-dashboard strong, .document-title h3, tr, .information {
  font-family: "Quicksand-Regular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

.header-navigation.close .header-navigation-menu, .header-navigation.open .header-navigation-menu, .profile-settings .settings-logout .icon, .profile-settings .settings-update .icon, .profile-settings .settings-create .icon, .modal-close, .profile-settings .settings-dashboard .icon {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.header-navigation.close .header-navigation-menu:before {
  content: "\f185"; }

.header-navigation.open .header-navigation-menu:before {
  content: "\f2bd"; }

.profile-settings .settings-logout .icon:before {
  content: "\f29f"; }

.profile-settings .settings-update .icon:before {
  content: "\f195"; }

.profile-settings .settings-create .icon:before {
  content: "\f217"; }

.modal-close:before {
  content: "\f129"; }

.profile-settings .settings-dashboard .icon:before {
  content: "\f265"; }

.modal-footer .button {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  color: white;
  cursor: pointer;
  font-weight: normal;
  outline: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  letter-spacing: 0.125rem; }
  .modal-footer .button:active, .modal-footer .button:focus, .modal-footer .button:hover {
    border: none;
    letter-spacing: -0.125rem; }

.information-author {
  position: relative; }

.modal {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  opacity: 0;
  visibility: hidden; }

.modal-close {
  position: absolute;
  right: 20px;
  color: #888; }
  .modal-close:hover {
    color: #666; }

.modal-footer .button {
  width: 6.25rem; }
.modal-footer .submit-button {
  background: #fa8d37;
  margin-left: 0.625rem; }
  .modal-footer .submit-button:active, .modal-footer .submit-button:focus, .modal-footer .submit-button:hover {
    background: #e73f38; }
.modal-footer .cancel-button {
  background: #f7c451; }
  .modal-footer .cancel-button:active, .modal-footer .cancel-button:focus, .modal-footer .cancel-button:hover {
    background: #fa8d37; }

.modal-inner {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  background: white;
  border-radius: 3px;
  margin: auto;
  max-height: 95%;
  position: relative;
  overflow: auto;
  width: 60%;
  padding: 1.25rem;
  margin-top: 5em; }

.modal-text {
  font-size: 100%;
  text-align: justify; }
  .modal-text a.remove {
    color: #E73F38; }

.modal-title {
  font-size: 140%; }

.modal-window {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.85);
  text-align: left;
  z-index: 9; }

header {
  width: 100%;
  position: fixed;
  background: white;
  box-shadow: 0 -2px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 10; }

.header {
  max-width: 85.375em;
  margin-left: auto;
  margin-right: auto;
  height: 3.75rem; }
  .header:after {
    content: "";
    display: table;
    clear: both; }
  .header:after {
    content: "";
    display: table;
    clear: both; }

.header-navigation {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  padding: 0 1.25rem;
  width: 6.25rem;
  font-size: 3.5rem;
  line-height: 3.5rem; }
  .header-navigation.open .header-menu {
    top: 3.75rem; }

.header-navigation-menu {
  cursor: pointer; }

.header-logo {
  padding: 0 0 0 20px;
  width: 12.5rem;
  float: left; }
  .header-logo h1 {
    line-height: 60px; }
  .header-logo a {
    padding: 0 0 0 55px;
    background: url("/images/logo-folhas.png") no-repeat;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms; }
    .header-logo a:hover {
      background: url("/images/logo-folhas-hover.png") no-repeat; }
  @media screen and (max-width: 768px) {
    .header-logo {
      margin-right: 0; } }

.header-menu {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  position: absolute;
  top: -12.5rem;
  right: 0;
  width: 15.625rem;
  height: 12.5rem;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: -1px 1px 5px -3px rgba(0, 0, 0, 0.5); }

.menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 200px;
  min-height: 0;
  background: white; }

.header-social {
  margin-right: 0;
  padding: 6px 0 0;
  float: left;
  width: 148px; }
  .header-social ul {
    font-size: 0; }
  .header-social li {
    margin: 0 0 0 -5px; }
  .header-social a {
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    border-radius: 50%;
    width: 48px;
    height: 48px; }
  .header-social .header-social-facebook a {
    background: url("/images/social/facebook.png") no-repeat; }
    .header-social .header-social-facebook a:hover {
      background: #3b5998 url("/images/social/facebook-hover.png") no-repeat; }
  .header-social .header-social-googleplus a {
    background: url("/images/social/googleplus.png") no-repeat; }
    .header-social .header-social-googleplus a:hover {
      background: #d14836 url("/images/social/googleplus-hover.png") no-repeat; }
  .header-social .header-social-twitter a {
    background: url("/images/social/twitter.png") no-repeat; }
    .header-social .header-social-twitter a:hover {
      background: #00aced url("/images/social/twitter-hover.png") no-repeat; }
  @media screen and (max-width: 480px) {
    .header-social {
      display: none; } }

.profile {
  max-width: 85.375em;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 1.25rem 0;
  margin-bottom: 1.25rem; }
  .profile:after {
    content: "";
    display: table;
    clear: both; }

.profile-dashboard {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  font-size: 180%; }
  .profile-dashboard:last-child {
    margin-right: 0; }

.profile-settings {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  font-size: 2rem; }
  .profile-settings:last-child {
    margin-right: 0; }
  .profile-settings .icon {
    margin: 0 0.625rem; }

.documents {
  max-width: 85.375em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.25rem;
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 1.25rem; }
  .documents:after {
    content: "";
    display: table;
    clear: both; }
  .documents:after {
    content: "";
    display: table;
    clear: both; }

.document-title {
  width: 60%;
  padding-top: 0.5rem; }
  .document-title h3 {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 100%;
    font-weight: normal; }

.document-share a,
.document-edit a,
.document-remove a {
  padding: 0.5rem; }
.document-share img,
.document-edit img,
.document-remove img {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  opacity: 0.6; }
  .document-share img:hover,
  .document-edit img:hover,
  .document-remove img:hover {
    opacity: 1; }

.document-share {
  font-size: 1.75rem;
  width: 20%; }

.document-edit {
  font-size: 1.25rem;
  width: 10%; }

.document-remove {
  font-size: 1.25rem;
  width: 10%; }
  .document-remove path.remove {
    fill: #fff; }

table {
  box-shadow: 0 0px 5px -2px rgba(0, 0, 1, 0.3);
  border-collapse: separate;
  border-spacing: 0; }

tr {
  cursor: pointer; }
  tr:hover > td {
    background-color: #F7F7F7; }
  tr:first-child td {
    border-top: 1px solid #DDD; }
    tr:first-child td:first-child {
      border-radius: 3px 0 0 0; }
    tr:first-child td:last-child {
      border-radius: 0 3px 0 0; }
  tr:last-child td:first-child {
    border-radius: 0 0 0 3px; }
  tr:last-child td:last-child {
    border-radius: 0 0 3px 0; }
  tr:only-child td:first-child {
    border-radius: 3px 0 0 3px; }
  tr:only-child td:last-child {
    border-radius: 0 3px 3px 0; }

td {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  padding: 0 0.625rem;
  height: 2.5rem; }
  td:first-child {
    border-left: 1px solid #DDD; }
  td:last-child {
    border-right: 1px solid #DDD; }
  td:only-child {
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD; }

footer {
  max-width: 85.375em;
  margin-left: auto;
  margin-right: auto;
  padding: 3.75rem 0;
  background: #e73f38;
  box-shadow: inset 0px 1px 10px -5px #333; }
  footer:after {
    content: "";
    display: table;
    clear: both; }

.information {
  font-size: 1.125rem; }
  .information img {
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0px 0px 6px -2px #666666; }

.information-author {
  margin: 0 auto;
  height: 9rem;
  width: 12.9375rem; }
  .information-author img, .information-author p, .information-author figure, .information-author figcaption {
    display: initial; }
  .information-author img {
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0px 0px 6px -2px #666666; }
  .information-author figcaption {
    position: absolute;
    bottom: 0;
    left: 0; }
  .information-author .author-name {
    color: white;
    border-bottom: 1px solid white; }
    .information-author .author-name:hover {
      color: white; }

.information-project a {
  color: white; }
  .information-project a:hover {
    text-decoration: underline; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
