button,
input[type="submit"] {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em; }
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #628cc8;
    cursor: pointer;
    background-color: #3c71bb;
    background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
    background-image: linear-gradient(#3c71bb, #255aa5); }
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled), button:focus:not(:disabled),
  input[type="submit"]:focus:not(:disabled) {
    border: 1px solid #2459a6;
    box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397; }
  button:disabled,
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "Quicksand-Light";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Quicksand/quicksand-light.eot");
  src: url("/fonts/Quicksand/quicksand-light.eot?#iefix") format("embedded-opentype"), url("/fonts/Quicksand/quicksand-light.woff") format("woff"), url("/fonts/Quicksand/quicksand-light.ttf") format("truetype"), url("/fonts/Quicksand/quicksand-light.svg#Quicksand-Light") format("svg"); }
@font-face {
  font-family: "Quicksand-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Quicksand/quicksand-regular.eot");
  src: url("/fonts/Quicksand/quicksand-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Quicksand/quicksand-regular.woff") format("woff"), url("/fonts/Quicksand/quicksand-regular.ttf") format("truetype"), url("/fonts/Quicksand/quicksand-regular.svg#Quicksand-Regular") format("svg"); }
@font-face {
  font-family: "Quicksand-Bold";
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/Quicksand/quicksand-bold.eot");
  src: url("/fonts/Quicksand/quicksand-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Quicksand/quicksand-bold.woff") format("woff"), url("/fonts/Quicksand/quicksand-bold.ttf") format("truetype"), url("/fonts/Quicksand/quicksand-bold.svg#Quicksand-Bold") format("svg"); }
@font-face {
  font-family: "Ionicons";
  font-weight: normal;
  font-style: normal;
  src: url("/bower_components/ionicons/fonts/ionicons.eot");
  src: url("/bower_components/ionicons/fonts/ionicons.eot?#iefix") format("embedded-opentype"), url("/bower_components/ionicons/fonts/ionicons.woff") format("woff"), url("/bower_components/ionicons/fonts/ionicons.ttf") format("truetype"), url("/bower_components/ionicons/fonts/ionicons.svg#Ionicons") format("svg"); }
*,
*:before,
*:after {
  margin: 0;
  padding: 0; }

.header-logo h1 {
  text-align: left; }

.header-social, .header-navigation, .banner-content, .authentication-enter, .authentication-join, .technologies, .information {
  text-align: center; }

.header-auth {
  text-align: right; }

.header-auth input, .header-auth input[type="submit"], .authentication .button, .header-logo h1 {
  vertical-align: top; }

.header-navigation, .header-auth {
  float: right; }

.header-logo a, .header-navigation.close, .header-auth .header-auth-remember:hover, .technologies-nodejs a:hover {
  color: #28441B; }

.header-auth .header-auth-remember, .technologies-nodejs a {
  color: #557C16; }

.header-logo a:hover, .header-navigation.close:hover, .header-navigation.open {
  color: #FA8D37; }

.header-navigation.open:hover {
  color: #E73F38; }

.header-logo, .header-social, .header-auth, .banner-content, .ace {
  height: 100%; }

.ace {
  width: 100%; }

.technologies-ifsp, .technologies-reactive-writing, .technologies-nodejs, .technologies-websockets {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .technologies-ifsp:last-child, .technologies-reactive-writing:last-child, .technologies-nodejs:last-child, .technologies-websockets:last-child {
    margin-right: 0; }
  @media screen and (max-width: 1024px) {
    .technologies-ifsp, .technologies-reactive-writing, .technologies-nodejs, .technologies-websockets {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 48.21067%; }
      .technologies-ifsp:last-child, .technologies-reactive-writing:last-child, .technologies-nodejs:last-child, .technologies-websockets:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .technologies-ifsp, .technologies-reactive-writing, .technologies-nodejs, .technologies-websockets {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%;
      margin: 0 0 1.875rem; }
      .technologies-ifsp:last-child, .technologies-reactive-writing:last-child, .technologies-nodejs:last-child, .technologies-websockets:last-child {
        margin-right: 0; } }

.header-social a, .authentication .button, .information img, .information-author img {
  display: block; }

.header-auth input, .header-social li {
  display: inline-block; }

.header-logo h1, .authentication .button {
  font-family: "Quicksand-Light", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

.banner-content, .technologies .description, .information {
  font-family: "Quicksand-Regular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

.technologies .title {
  font-family: "Quicksand-Bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

.header-navigation.close, .header-navigation.open {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.header-navigation.close:before {
  content: "\f185"; }

.header-navigation.open:before {
  content: "\f2bd"; }

.header-auth input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  font-size: 0.875rem;
  padding: 0.4375rem;
  height: 2rem; }
  .header-auth input:hover, .header-auth input:focus {
    border-color: #557c16; }

.header-auth input[type="submit"], .authentication .button {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  color: white;
  cursor: pointer;
  font-weight: normal;
  outline: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  letter-spacing: 0.125rem; }
  .header-auth input[type="submit"]:active, .authentication .button:active, .header-auth input[type="submit"]:focus, .authentication .button:focus, .header-auth input[type="submit"]:hover, .authentication .button:hover {
    border: none;
    letter-spacing: -0.125rem; }

.header-auth, .information-author {
  position: relative; }

header {
  width: 100%;
  position: fixed;
  background: white;
  box-shadow: 0 -2px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 10; }

.header {
  max-width: 85.375em;
  margin-left: auto;
  margin-right: auto;
  height: 3.75rem; }
  .header:after {
    content: "";
    display: table;
    clear: both; }
  .header:after {
    content: "";
    display: table;
    clear: both; }

.header-logo {
  padding: 0 0 0 20px;
  width: 12.5rem;
  float: left; }
  .header-logo h1 {
    line-height: 60px; }
  .header-logo a {
    padding: 0 0 0 55px;
    background: url("/images/logo-folhas.png") no-repeat;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms; }
    .header-logo a:hover {
      background: url("/images/logo-folhas-hover.png") no-repeat; }
  @media screen and (max-width: 768px) {
    .header-logo {
      margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .header-logo {
      margin: 0 auto;
      float: none;
      padding: 0;
      width: 165px; } }

.header-social {
  margin-right: 0;
  padding: 6px 0 0;
  float: left;
  width: 148px; }
  .header-social ul {
    font-size: 0; }
  .header-social li {
    margin: 0 0 0 -5px; }
  .header-social a {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    width: 48px;
    height: 48px; }
  .header-social .header-social-facebook a {
    background: url("/images/social/facebook.png") no-repeat; }
    .header-social .header-social-facebook a:hover {
      background: #3b5998 url("/images/social/facebook-hover.png") no-repeat; }
  .header-social .header-social-googleplus a {
    background: url("/images/social/googleplus.png") no-repeat; }
    .header-social .header-social-googleplus a:hover {
      background: #d14836 url("/images/social/googleplus-hover.png") no-repeat; }
  .header-social .header-social-twitter a {
    background: url("/images/social/twitter.png") no-repeat; }
    .header-social .header-social-twitter a:hover {
      background: #00aced url("/images/social/twitter-hover.png") no-repeat; }
  @media screen and (max-width: 768px) {
    .header-social {
      float: right; } }
  @media screen and (max-width: 480px) {
    .header-social {
      display: none; } }

.header-navigation {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  padding: 0 1.25rem;
  width: 6.25rem;
  font-size: 3.5rem;
  line-height: 3.5rem;
  cursor: pointer; }

.header-auth {
  padding: 0.875rem 1.25rem 0 0;
  width: 26.25rem; }
  .header-auth input[name^="user"] {
    margin: 0 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    font-family: inherit;
    width: 10rem; }
  .header-auth input[type="submit"] {
    margin: 0 0 0 0.1875rem;
    width: 3.75rem;
    background: #557c16; }
    .header-auth input[type="submit"]:active, .header-auth input[type="submit"]:focus, .header-auth input[type="submit"]:hover {
      background: #28441b;
      box-shadow: inset 0 1px 0 0 #28441b;
      letter-spacing: -0.03125rem; }
  .header-auth .header-auth-remember {
    position: absolute;
    right: 105px;
    bottom: 7px;
    font-size: 0.75rem;
    line-height: 0; }
  @media screen and (max-width: 768px) {
    .header-auth {
      display: none; } }

header {
  background: rgba(255, 255, 255, 0.3); }

.banner {
  max-width: 85.375em;
  margin-left: auto;
  margin-right: auto;
  height: 28.125rem;
  background: url("/images/trianglify.png") no-repeat; }
  .banner:after {
    content: "";
    display: table;
    clear: both; }

.banner-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  font-size: 1.25rem;
  color: white; }
  .banner-content:last-child {
    margin-right: 0; }
  .banner-content img {
    margin: 5rem 0 2.5rem; }
  @media screen and (max-width: 768px) {
    .banner-content {
      width: 100%;
      margin: 0; } }

.authentication {
  max-width: 85.375em;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 0;
  box-shadow: inset 0px 1px 10px -5px #333;
  background: #f7c451;
  max-width: 100%; }
  .authentication:after {
    content: "";
    display: table;
    clear: both; }
  .authentication .button {
    padding: 0.5rem 0;
    width: 18.75rem;
    font-size: 2rem; }

.authentication-enter {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 17.05961%; }
  .authentication-enter:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .authentication-enter {
      width: 100%;
      margin: 0; } }

.enter-button {
  border: 1px solid white;
  background: #f7c451;
  float: right;
  border: 1px solid #fa8d37 !important; }
  .enter-button:active, .enter-button:focus, .enter-button:hover {
    background: #fa8d37;
    border: 1px solid #fa8d37 !important; }
  @media screen and (max-width: 768px) {
    .enter-button {
      float: none;
      margin: 0 auto;
      border-bottom: 1px solid white; } }

.authentication-join {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .authentication-join:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .authentication-join {
      width: 100%;
      margin: 0; } }

.join-button {
  border: 1px solid white;
  background: #fa8d37;
  border: 1px solid #fa8d37 !important; }
  .join-button:active, .join-button:focus, .join-button:hover {
    background: #e73f38;
    border: 1px solid #e73f38 !important; }
  @media screen and (max-width: 768px) {
    .join-button {
      margin: 0 auto; } }

.technologies {
  max-width: 85.375em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto 3.75rem;
  padding: 5rem 1.25rem 0; }
  .technologies:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 480px) {
    .technologies {
      padding: 5rem 0.625rem 0;
      margin: 0 0 1.875rem; } }
  .technologies .title {
    font-weight: normal; }

@media screen and (max-width: 1024px) {
  .technologies-reactive-writing {
    margin-right: 0; } }

.document {
  max-width: 85.375em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto 3.75rem;
  padding: 3.75rem 0; }
  .document:after {
    content: "";
    display: table;
    clear: both; }

.document-editor {
  box-shadow: 0px 1px 5px -3px rgba(0, 0, 0, 0.5);
  height: 31.25rem;
  width: 33.75rem;
  margin: 0 auto; }

footer {
  max-width: 85.375em;
  margin-left: auto;
  margin-right: auto;
  padding: 3.75rem 0;
  background: #e73f38;
  box-shadow: inset 0px 1px 10px -5px #333;
  max-width: 100%; }
  footer:after {
    content: "";
    display: table;
    clear: both; }

.information {
  font-size: 1.125rem; }
  .information img {
    margin: 0 auto;
    border-top-left-radius: 0.1875rem;
    border-top-right-radius: 0.1875rem;
    border-bottom-left-radius: 0.1875rem;
    border-bottom-right-radius: 0.1875rem;
    border-top-left-radius: 0.1875rem;
    border-bottom-left-radius: 0.1875rem;
    border-top-right-radius: 0.1875rem;
    border-bottom-right-radius: 0.1875rem;
    box-shadow: 0px 0px 6px -2px #666666; }

.information-author {
  margin: 0 auto;
  height: 9rem;
  width: 12.9375rem; }
  .information-author img, .information-author p, .information-author figure, .information-author figcaption {
    display: initial; }
  .information-author img {
    margin: 0 auto;
    border-top-left-radius: 0.1875rem;
    border-top-right-radius: 0.1875rem;
    border-bottom-left-radius: 0.1875rem;
    border-bottom-right-radius: 0.1875rem;
    border-top-left-radius: 0.1875rem;
    border-bottom-left-radius: 0.1875rem;
    border-top-right-radius: 0.1875rem;
    border-bottom-right-radius: 0.1875rem;
    box-shadow: 0px 0px 6px -2px #666666; }
  .information-author figcaption {
    position: absolute;
    bottom: 0;
    left: 0; }
  .information-author .author-name {
    color: white;
    border-bottom: 1px solid white; }
    .information-author .author-name:hover {
      color: white; }

.information-project a {
  color: white; }
  .information-project a:hover {
    text-decoration: underline; }
