extends ../layout
block style
    link(rel='stylesheet', href='/css/remember.css')

block script
    script(src='/js/user.js')
    script(src='/js/remember.js')

block body
    section.auth
        form.auth-form(method="post", enctype="multipart/form-data", novalidate)

            label(for="email") Email
            input(type="email", name="user[email]", id="email", tabindex="1", autofocus="autofocus")

            input(type="submit", value="Enter", title="Enter" tabindex="2")
