extends ../layout
block style
    link(rel='stylesheet', href='/css/recovery.css')

block script
    script(src='/js/user.js')
    script(src='/js/recovery.js')

block body
    section.auth
        if (success)
            p= user.name
            p= user.email
            p= user.password

            form.auth-form(method="post", enctype="multipart/form-data", novalidate)
                label(for="password") New password
                input(type="password", name="user[password]", id="password", tabindex="1", autofocus="autofocus")

                input(type="submit", value="Update", title="Update", tabindex="2")
        else
            each error in errors
                p #{error.message}

            a(href="/") Return
