extends ../layout
block style
    link(rel='stylesheet', href='/css/document.css')

block script
    script(src='/bower_components/ace-builds/src-min-noconflict/ace.js')
    script(src='/js/document.js')

block body
    if user
        section.profile
              h2.profile-dashboard <strong>#{user.name}</strong>'s Document
              nav.profile-settings
                  ul
                      li.settings-dashboard
                          a.icon(href="/dashboard", title="Back to dashboard")

    section.document
        h3.document-title(contenteditable) #{document.title}
        article.document-editor
          #editor.ace= document.text
